<!DOCTYPE HTML>
	<html>
	<head>
		<title>Mathieu Garrigues - Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/story.css" />
	</head>
	<body>
		<div id="wrapper" class="divided">
			<section class="wrapper style1 align-center">
				<div class="inner">
					<h2>400 - Error</h2>
					<p>Looks like something went wrong... My bad.</p>
					<a href="/" class="button wide ">Back to home page</a>
				</div>
			</section>
		</div>
	</body>
</html>