<!DOCTYPE HTML>

<html>
	<head>
		<title>Mathieu Garrigues - Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="strata/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/strata.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="strata/assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/admin" class="image avatar"><img src="/images/moebius.jpeg" alt="" /></a>
					<h1><strong>Hi, I'm Mathieu,</strong><br> An engineering
					student exploring artificial intelligence.<br />
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Well, so, uh, hello, this is me. Welcome here</h2>
						</header>
						<p>I'm currently a student at Polytech Lyon, France, as a graduate in computer science.<br>
						If programming was my main activities over the past few years, I recently came across Machine Learning, and fell in love. </p>
						
						<div class="box">
						<p><b> I am currently looking for a 20 weeks internship from September 2018 to January 2019, in Machine Learning or Data Science. If you like my profile, <a href="#three" class="smooth-scroll-middle">contact me!</a></b></p>
					</div>
						<ul class="actions">
							<li><a href="/profile" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="/project/6" class="tstimage fit"><img src="/images/2cells.png" alt="" /></a>
								<h3>Nuclei identification in partial images</h3>
								<p>Our first Kaggle challenge, using a Convolutionnal Neural Network to generate identification masks, to find nucleus in microsope images.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="/project/5" class="tstimage fit"><img src="/images/digits.png" alt="" /></a>
								<h3>Written digits classification</h3>
								<p>The classic MNIST dataset classification, done in Matlab.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="/project/4" class="tstimage fit"><img src="/images/points.png" alt="" /></a>
								<h3>Word Embeddings LOTR</h3>
								<p>A Word2Vec implementation of word embeddings applied to Lord Of The Rings. Skip-Gram model, clustering, and some fun.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="/project/3" class="tstimage fit"><img src="/images/EDITcar3.png" alt="" /></a>
								<h3>AutoDidacte</h3>
								<p>A car in a 2D environment, learning to drive with a genetic algorithm and a single layer Neural Network.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="/projects" class="button">Full Portfolio</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>Feel free to contact me about anything, I will answer as soon as I can!</p>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
									<!-- 
									<div class="6u 12u$(small)">
										<input type="checkbox" id="demo-copy" name="demo-copy">
										<label for="demo-copy">Email me a copy of this message</label>
									</div>
									<div class="6u$ 12u$(small)">
										<input type="checkbox" id="demo-human" name="demo-human" checked>
										<label for="demo-human">I am a human and not a robot</label>
									</div> -->
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon fa-home"><span class="label">Address</span></h3>
										26 Chemin de la Molinette<br />
										Saint-Genis-Laval, 69230<br />
										France
									</li>
									<li>
										<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
										+33616850204
									</li>
									<li>
										<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
										<a href="mailto:mail@mgarrigues.fr">mail@mgarrigues.fr</a>
									</li>
								</ul>
							</div>
						</div>
					</section>

				
		<!-- Footer -->
			<footer id="footer">
				<ul class="actions">
					<li><a href="/files/cv-francais.pdf" target="_blank" class="button small">CV Français</a></li>
					<li><a href="/profile" class="button small">English Resume</a></li>
				</ul>
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/mathieu-garrigues-b5a44a151/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/M-Garrigues" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:mail@mgarrigues.fr" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Powered by NodeJS</li><li>Design: HTML5 UP</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="strata/assets/js/jquery.min.js"></script>
			<script src="strata/assets/js/jquery.poptrox.min.js"></script>
			<script src="strata/assets/js/skel.min.js"></script>
			<script src="strata/assets/js/util.js"></script>
			<script src="/story/assets/js/jquery.scrolly.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="strata/assets/js/main.js"></script>

	</body>
</html>